/* Main CSS */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


#mainNav .navbar-brand {
	color: #fed136;
	font-family: 'Kaushan Script';
	margin-top: 100px;
}

#mainNav .navbar-brand {
	font-size: 60px;
   	
}

.placeholder {
	color: #444;
}

#slick-login input[type="text"], #slick-login input[type="password"],#slick-login input[type="email"],#slick-login input[type="date"],#slick-login select[name="lang"],#slick-login select[name="sex"] {
	width: 99%;
	height: 40px;
	positon: absolute;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

}

#slick-login input[name="p1"], #slick-login input[name="p2"], #slick-login input[name="p3"]{
	width: 31%;
	height: 40px;
	positon: absolute;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

}



#slick-login input[type="submit"] {
	width: 99%;
	height: 50px;
	margin-top: 7px;
	color: #000000;
	font-size: 18px;
	background-color: #fed136;

}

#slick-login input[type="button"] {
	width: 20%;
	height: 30px;
	margin-top: 7px;
	margin-left: 428px;
	color: #000000;
	font-size: 18px;
	background-color: #fed136;
}

body {
	display: table-cell;
	vertical-align: middle;
}
