* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
}

@media ( max-width : 767px) {
	#mainNav .navbar-brand {
		display: block;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
		
		
	}
}

#mainNav .navbar-brand {
		color: #fed136;
		font-family: 'Kaushan Script';
		overflow: hidden;
		font-size: 60px;
	}


.placeholder {
	color: #444;
}

#slick-login{
	margin-top: 40px;
}
#slick-login input[type="text"], #slick-login input[type="password"] {
	width: 50%;
	height: 40px;
	positon: absolute;
	margin-top: 20px;
	margin-left: 240px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);
	padding-left: 20px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;
}
#slick-login input[type="text"]:focus, #slick-login input[type="password"]:focus
	{
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login input[type="submit"] {
	width: 50%;
	height: 50px;
	margin-top: 30px;
	margin-left: 240px;
	color: #000000;
	font-size: 18px;
	outline: none;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	background-color: #fed136;
	cursor: pointer;
}

#slick-login input[type="submit"]:hover {
	background-color: #fed136;
	margin-top: 10px;
}

#slick-login input[type="submit"]:active {
	background-color: #fed136;
	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}

.medium-small {
	font-size: 0.9rem;
	margin: 0;
	padding: 0;
}
.img {
	width: 50%;
	height: 50px;
	margin-left: 240px;
}
.login-form {
	width: 280px;
}

.login-form-text {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8rem;
}

.login-text {
	margin-top: -6px;
	margin-left: -6px !important;
}
.find{
	line-height: 14px;
	padding-top:20px;
	text-align: center;
	color:#8e8e8e;
	border-top-width: 1px;
	margin-left: 450px;	
}
div {
	display: block;
}

.margin {
	margin: 0 !important;
}

.pointer-events {
	pointer-events: auto !important;
}

.input-field>.material-icons {
	padding-top: 10px;
}