#mainNav .navbar-brand {
	color: #fed136;
	font-family: 'Kaushan Script';
	margin-top: 100px;
}

#mainNav .navbar-brand {
	font-size: 60px;
   	
}

.placeholder {
	color: #444;
}

#slick-login input[type="text"], #slick-login input[type="password"] {
	width: 50%;
	height: 50px;
	positon: absolute;
	margin-top: 20px;
	margin-left: 250px;
	font-size: 14px;

}

#slick-login input[type="submit"] {
	width: 50%;
	height: 50px;
	margin-left: 250px;
	margin-top: 20px;
	font-size: 18px;
	background-color: #fed136;
}

.img {
	width: 50%;
	height: 50px;
	margin-left: 250px;
}

.find{
	line-height: 14px;
	padding-top:20px;
	text-align: center;
	color:#8e8e8e;
	border-top-width: 1px;
	margin-left: 460px;	
}


